<form
  class="edit-form"
  [formGroup]="productForm"
  (ngSubmit)="onEditFormSubmit()"
>
  <div>
    <mat-form-field class="edit-form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      @if (productForm.get("title")?.hasError("required")) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="edit-form-field">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />

      @if (productForm.get("price")?.hasError("required")) {
        <mat-error>Price is required</mat-error>
      }

      @if (productForm.get("price")?.hasError("min")) {
        <mat-error>Price must be positive</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="edit-form-field">
      <mat-label>Discount Percentage</mat-label>
      <input matInput formControlName="discountPercentage" type="number" />
      @if (productForm.get("discountPercentage")?.hasError("required")) {
        <mat-error>Discount percentage is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="edit-form-field">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" type="number" />
      @if (productForm.get("stock")?.hasError("required")) {
        <mat-error>Stock is required</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="edit-form-field">
      <mat-label>Rating</mat-label>
      <input matInput formControlName="rating" type="number" step="0.01" />
      @if (productForm.get("rating")?.hasError("required")) {
        <mat-error>Rating is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field class="edit-form-field">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" />
      @if (productForm.get("brand")?.hasError("required")) {
        <mat-error>Brand is required</mat-error>
      }
    </mat-form-field>
  </div>
  <mat-form-field class="edit-form-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    @if (productForm.get("description")?.hasError("required")) {
      <mat-error>Description is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="edit-form-field">
    <mat-label>Category</mat-label>
    <input matInput formControlName="category" />
    @if (productForm.get("category")?.hasError("required")) {
      <mat-error>Category is required</mat-error>
    }
  </mat-form-field>

  <div>
    <a mat-stroked-button routerLink="/home">Go back</a>
    <button mat-flat-button type="submit" color="primary">
      @if (productUpdateResult$ | async; as response) {
        @switch (response.state) {
          @case ("loading") {
            <p>Editing...</p>
          }
          @case ("error") {
            <p>Error: {{ response.error }}</p>
          }
          @case ("loaded") {
            <p>Edit</p>
          }
        }
      } @else {
        Edit
      }
    </button>
  </div>
</form>
