<form [formGroup]="shippingForm" class="shipping-form">
  <h2>Shipping Information</h2>
  <mat-radio-group formControlName="deliveryMethod">
    <mat-radio-button value="delivery">
      <mat-icon class="radio-icon">local_shipping</mat-icon>
      Delivery</mat-radio-button
    >
    <mat-radio-button value="pickup">
      <mat-icon class="radio-icon">store</mat-icon>Pickup</mat-radio-button
    >
    @if (shippingForm.get("deliveryMethod")?.hasError("required")) {
      <mat-error> Please select a delivery method. </mat-error>
    }
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullName" required />
    @if (shippingForm.get("fullName")?.hasError("required")) {
      <mat-error> FullName is required. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required />
    @if (shippingForm.get("email")?.hasError("required")) {
      <mat-error> Eamil is required. </mat-error>
    }
    @if (shippingForm.get("email")?.hasError("email")) {
      <mat-error> Invalid email format. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <span matTextPrefix>+92 &nbsp;</span>
    <input
      matInput
      formControlName="phone"
      required
      placeholder="321-2523296"
    />
    @if (shippingForm.get("phone")?.hasError("required")) {
      <mat-error> Phone is required. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" required />
    @if (shippingForm.get("city")?.hasError("required")) {
      <mat-error> City is required.</mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="termsAccepted">
    I have read and agree to the terms and conditions
  </mat-checkbox>
  @if (shippingForm.get("termsAccepted")?.hasError("requiredTrue")) {
    <mat-error> You must accept the terms and conditions. </mat-error>
  }
</form>
