.actions {
  width: 80%;
  margin: 50px auto;
}

.products {
  min-height: 80vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-bottom: 20px;
}

.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  .results-info {
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      margin-right: 5px;
    }

    p {
      color: #007bff;
      font-weight: bold;
    }
  }
}
.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  & p {
    color: red;
    font-size: 14px;
  }
}

.add-product {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
