.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 240px;
  }
}
