@if (product) {
  <mat-card>
    <div class="card__banner" (click)="onPreviewDetail()">
      <img
        mat-card-image
        [src]="product.thumbnail"
        alt="product thumbnail image"
      />
    </div>
    <div class="card__actions">
      <button mat-icon-button (click)="onDeleteProduct()">
        @if (productDeleteResult$ | async; as response) {
          @switch (response.state) {
            @case ("loading") {}
            @case ("loaded") {}
          }
        } @else {
          <mat-icon>delete</mat-icon>
        }
      </button>
      <a [routerLink]="['/edit', product.id]" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </a>
    </div>
    <mat-card-content class="card__content">
      <div class="card__desc">
        <h2>{{ product.title }}</h2>
        <p>
          {{ calculateDiscountedPrice() | currency }}
          <sup>{{ product.price | currency }}</sup>
        </p>
      </div>
      <div class="card__cart">
        <button mat-fab (click)="onAddToCart()">
          <mat-icon class="icon">add_shopping_cart</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
}
