<mat-dialog-content>
  <img class="product-image" [src]="data.images[0]" [alt]="data.title" />
  <div>
    <h2>{{ data.title }}</h2>
    <div class="product-heading">
      <h3>{{ data.price | currency }}</h3>
      <div class="rating">
        <mat-icon class="star-icon" class="icon">star</mat-icon>
        <span>({{ data.rating }})</span>
      </div>
    </div>
  </div>
  <p>{{ data.description }}</p>
  <ul>
    <li>Availability: {{ data.availabilityStatus }}</li>
    <li>SKU: {{ data.sku }}</li>
    <li>Shipping: {{ data.shippingInformation }}</li>
    <li>Warranty: {{ data.warrantyInformation }}</li>
    <li>Return Policy: {{ data.returnPolicy }}</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <mat-form-field class="quantity-field" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" [formControl]="quantityControl" />
  </mat-form-field>
  <div class="action-buttons">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onAddToCart()">
      Add to Cart
    </button>
  </div>
</mat-dialog-actions>
