@if (item) {
  <li>
    <div class="cart-item">
      <img src="{{ item.product.image }}" alt="{{ item.product.title }}" />
      <div>
        <p>{{ item.product.title }}</p>
        <p>
          {{ item.product.price | currency }} <sub>x{{ item.quantity }}</sub>
        </p>
      </div>
    </div>
    <div class="cart-actions">
      <button mat-mini-fab (click)="onAddToCart(item.product)">
        <mat-icon class="icon">add</mat-icon>
      </button>
      <button mat-mini-fab (click)="onRemoveFromCart(item.product.id)">
        <mat-icon class="icon">remove</mat-icon>
      </button>
    </div>
  </li>
}
